:root, body, html{
    padding: 0;
    margin: 0;
    /* background-color: rgb(27, 102, 117); */
}
#game-of-life{
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#screenSize{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#topBar{
    height: 100px;
}

#pieChart{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 5;
}